@use "sass:math";

@mixin m($size) {
  @if type-of($size) == number {
    margin: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    margin: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin mx($size) {
  @if type-of($size) == number {
    margin-inline: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    margin-inline: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin my($size) {
  @if type-of($size) == number {
    margin-block: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    margin-block: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin mt($size) {
  @if type-of($size) == number {
    margin-top: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    margin-top: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin mb($size) {
  @if type-of($size) == number {
    margin-bottom: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    margin-bottom: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin ml($size) {
  @if type-of($size) == number {
    margin-left: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    margin-left: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin mr($size) {
  @if type-of($size) == number {
    margin-right: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    margin-right: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin p($size) {
  @if type-of($size) == number {
    padding: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    padding: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin px($size) {
  @if type-of($size) == number {
    $result: #{math.div($size * 4, 16)}rem;
    padding-left: $result;
    padding-right: $result;
  } @else if type-of($size) == string {
    $result: #{$size};
    padding-left: $result;
    padding-right: $result;
  } @else {
    @warn "Invalid argument";
  }
}

@mixin py($size) {
  @if type-of($size) == number {
    $result: #{math.div($size * 4, 16)}rem;
    padding-top: $result;
    padding-bottom: $result;
  } @else if type-of($size) == string {
    $result: #{$size};
    padding-top: $result;
    padding-bottom: $result;
  } @else {
    @warn "Invalid argument";
  }
}

@mixin pt($size) {
  @if type-of($size) == number {
    padding-top: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    padding-top: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin pb($size) {
  @if type-of($size) == number {
    padding-bottom: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    padding-bottom: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin pl($size) {
  @if type-of($size) == number {
    padding-left: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    padding-left: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin pr($size) {
  @if type-of($size) == number {
    padding-right: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    padding-right: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin gap($size) {
  @if type-of($size) == number {
    gap: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    gap: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin gap-x($size) {
  @if type-of($size) == number {
    column-gap: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    column-gap: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}

@mixin gap-y($size) {
  @if type-of($size) == number {
    row-gap: #{math.div($size * 4, 16)}rem;
  } @else if type-of($size) == string {
    row-gap: #{$size};
  } @else {
    @warn "Invalid argument";
  }
}
