@use "./../../tools" as i;

%shadow-primary {
  box-shadow: i.$shadowPrimary;
}

%shadow-large {
  box-shadow: 0 10px 60px -5px rgba(0, 0, 0, 0.3);
}

%shadow-medium {
  box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.25);
}

%shadow-small {
  box-shadow: 0 3px 20px -3px rgba(0, 0, 0, 0.2);
}
