@use "./../../tools" as i;

%text-textPrimary {
  color: i.$textPrimary;
}

%text-primary {
  color: i.$primary;
}

%bg-primary {
  background: i.$primary;
}

%bg-primary-dark {
  background-color: i.$primaryDark;
}

%border-primary {
  border-color: i.$primary;
}

%text-white {
  color: #fff;
}

%bg-white {
  background-color: #fff;
}
