@use "./../../tools" as i;

// font weight
%font-light {
  font-weight: i.$font-light;
}

%font-normal {
  font-weight: i.$font-normal;
}

%font-medium {
  font-weight: i.$font-medium;
}

%font-semibold {
  font-weight: i.$font-semibold;
}

%font-bold {
  font-weight: i.$font-bold;
}

%font-extrabold {
  font-weight: i.$font-extrabold;
}

%font-black {
  font-weight: i.$font-black;
}

// text color
%text-textPrimary {
  color: i.$textPrimary;
}

%text-textMediumLight {
  color: i.$textMediumLight;
}

// text align
%text-center {
  text-align: center;
}

%text-right {
  text-align: right;
}

%text-left {
  text-align: left;
}

// font size
%text-sm {
  font-size: i.$text-sm;
}

%text-base {
  font-size: i.$text-base;
}

%text-lg {
  font-size: i.$text-lg;
}

%text-xl {
  font-size: i.$text-xl;
}

%text-2xl {
  font-size: i.$text-2xl;
}

%text-3xl {
  font-size: i.$text-3xl;
}

%text-4xl {
  font-size: i.$text-4xl;
}

%text-5xl {
  font-size: i.$text-5xl;
}

%text-6xl {
  font-size: i.$text-6xl;
}
