@use "./../placeholders/index";

*,
*::before,
*::after {
  box-sizing: border-box;
  @extend %no-space;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  @extend %body-default;
}
