@use "./../tools" as i;
@use "./../placeholders/index";

*,
*::before,
*::after {
  box-sizing: border-box;
  @extend %no-space;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1;
  max-width: 120rem;
  font-weight: 400;
  color: i.$textMediumLight;
  font-family: i.$defaultFont;
  overflow-x: hidden;
}
